# EXAMPLE env file, copy and save as .env to simplify usage

# Build type: PICO, ESP32, or ALL
BUILD_TYPE=ESP32-S3

# Pico SDK configuration
PICO_BOARD=pico

# USB Device ID configuration
USB_VID=0x1D50
USB_PID=0x619B
